#order {
	
	@media all and (min-width: 640px) {
			
		padding: 0 0 10px;
		background: #1a1a1a;
		
		#cta {
			
			background: url(../images/rhizome/order-button.png) no-repeat center top;
			height: 50px;
			-webkit-touch-callout: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			-webkit-tap-highlight-color: transparent;
			
			// Hide the extra characters:
			span {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
			
			a {
				
				display: block;
				width: 100%;
				height: 100%;
				
				&:active,
				&:focus { outline: 0; }
				
			}
			
		}
		
		ul {
			
			margin: 0;
			padding: 0;
			text-align: center;
			
			// Hid when JS is available:
			.js & { display: none; }
			
			li {
				
				list-style-type: none;
				background: #0f0f0f;
				border: 2px solid #242424;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				margin: 3px 25px;
				line-height: normal;
				
				a {
					
					font-size: 14px;
					text-decoration: none;
					display: block;
					padding: 5px;
					
					&,
					&:visited { color: #719b37; }
					.no-touch &:visited:hover,
					&:focus,
					.no-touch &:focus:hover,
					.no-touch &:hover,
					&:active {
						color: #bbb749;
						text-decoration: none;
					}
					
				}
				
			}
			
		}
		
	}
	
}

#menu > ul {
	
	@media all and (min-width: 640px) {
		
		line-height: 1;
		background: #000;
		
		&,
		& * {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		a {
			
			&,
			&:visited { color: #f6f9f1; }
			.no-touch &:visited:hover,
			&:focus,
			.no-touch &:focus:hover,
			.no-touch &:hover,
			&:active {
				color: #061c06;
				background: #a8b295;
				text-decoration: none;
			}
			
			&:active,
			&:focus { outline: 0; }
			
		}
		
		li {
			
			&.dcjq-parent-li {}
			
			a {
				
				padding: 5px 10px;
				font-size: 12px;
				line-height: 1.3;
				letter-spacing: .05em;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				background: #0f0f0f;
				border-width: 1px 0;
				border-style: solid;
				border-color: #000;
				margin: -1px 0 0;
				padding-right: 10px; // To account for +/- icon.
				position: relative;
				
				.dcjq-icon {
					
					line-height: 0;
					width: 8px;
					height: 8px;
					background: {
						image: url(../images/rhizome/plus-minus.gif);
						size: cover;
						repeat: no-repeat
					}
					opacity: .5;
					position: absolute;
					top: 50%;
					right: 5px;
					-webkit-transform: translateY(-50%);
					   -moz-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					     -o-transform: translateY(-50%);
					        transform: translateY(-50%);
					
				}
				
				&.dcjq-parent.active .dcjq-icon { background-position: 0 -8px; }
				
			}
			
			li a {
				
				text-transform: none;
				border: {
					width: 1px 0;
					style: solid;
					color: #000;
				}
				background: #151713;
				margin: -1px 0 0;
				padding-left: 20px;
				
				&,
				&:visited { color: #939d83; }
				
			}
			
			li ul li a {
				background: #2a2d25;
				padding-left: 30px;
			}
			
		}
		
		.js & {
			
			ul { display: none; }
			
		}
		
	}
	
}
