.table-01 {
	
	font-size: inherit;
	color: #394e1c;
	background-color: #939d83;
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	margin: 0 auto 20px;
	
	caption {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		color: #69705d;
		background: #bdc9a8;
		border-bottom: 2px solid #a8b295;
		margin: 0;
		padding: 5px;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
	}
	
	td,
	th { padding: 4px; }
	
	thead th {
		font-size: 93%;
		color: #69705d;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid #f6f9f1;
		background: #d2dfba;
		padding: 4px;
	}
	
	tbody {
		
		th {
			font-size: 85%;
			font-weight: bold;
			text-transform: uppercase;
			color: #69705d;
			border: none;
			background: #d2dfba;
		}
		
		tr {
			text-align: left;
			background: #fff;
			
			td {
				font-size: 85%;
				border: 1px solid #f6f9f1;
				background: #f6f9f1;
			}
			
			&:nth-child(even) {
				
				border-top: 1px solid #f6f9f1;
				background: #fff;
				
				td {
					border-top: 1px solid #f6f9f1;
					background: #edf2e3;
				}
				
			}
			
		}
		
	}
	
	tfoot th {
		font-size: 93%;
		font-weight: normal;
		text-align: right;
		text-transform: none;
		color: #69705d;
		background: #bdc9a8;
		border: 1px solid #f6f9f1;
		padding: 4px;
	}
	
}
